// site styles
// @import 'compass/css3';
@import '_vars';

html, body, #wrap-outer {
    height: 100%;
}

#viewport {
    padding: 4em 0;
}

#stellar-solar-sim {
    background: $deep-grey-dark image-url('sky.png');
    background-size: 200%;
    border: 1px solid $deep-grey-dark;
    margin: auto;
    width: 600px;
    height: 600px;
}
