/* line 6, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
html, body, #wrap-outer {
  height: 100%;
}

/* line 14, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
.wrap {
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  *zoom: 1;
  margin: 80px auto;
}

/* line 21, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#viewport {
  padding: 4em 0;
  background: #1a1a1a url('../images/sky.png?1395448799');
  background-size: 1000px;
}

/* line 27, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#stellar-solar-sim {
  margin: auto;
  width: 600px;
  height: 600px;
}

/* line 33, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-sim {
  float: left;
  width: 80%;
  max-width: 600px;
  height: 600px;
  margin-top: 2em;
}

/* line 43, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-plot,
#axial-tilt-plot,
#eot-plot {
  position: relative;
  float: left;
  width: 20%;
  margin-top: 2em;
  max-width: 200px;
  height: 600px;
}
/* line 51, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-plot:before,
#axial-tilt-plot:before,
#eot-plot:before {
  content: 'late';
  position: absolute;
  top: 1em;
  left: 0;
  color: gainsboro;
}
/* line 59, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-plot:after,
#axial-tilt-plot:after,
#eot-plot:after {
  content: 'early';
  position: absolute;
  top: 1em;
  right: 0;
  color: gainsboro;
}
/* line 67, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-plot > div:after,
#axial-tilt-plot > div:after,
#eot-plot > div:after {
  content: 'mean';
  position: absolute;
  top: -2em;
  left: 50%;
  margin-left: -1em;
  color: gainsboro;
}

/* line 77, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-plot {
  margin-left: -20px;
}

/* line 82, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#axial-tilt-sim,
#ecliptic-tilt-sim {
  margin-top: 2em;
  width: 300px;
  height: 300px;
}
