/* line 5, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
html, body, #wrap-outer {
  height: 100%;
}

/* line 9, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#viewport {
  padding: 4em 0;
  background: #1a1a1a url('../images/sky.png?1395448799');
  background-size: 200%;
}

/* line 15, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#stellar-solar-sim {
  margin: auto;
  width: 600px;
  height: 600px;
}

/* line 21, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-sim {
  float: left;
  width: 80%;
  max-width: 600px;
  height: 600px;
}

/* line 28, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-plot {
  position: relative;
  float: left;
  width: 20%;
  margin-left: -40px;
  max-width: 200px;
  height: 600px;
}
/* line 36, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-plot:before {
  content: 'late';
  position: absolute;
  top: 1em;
  left: 0;
  color: gainsboro;
}
/* line 44, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-plot:after {
  content: 'early';
  position: absolute;
  top: 1em;
  right: 0;
  color: gainsboro;
}
/* line 52, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-plot > div:after {
  content: 'mean';
  position: absolute;
  top: -1em;
  left: 50%;
  margin-left: -1em;
  color: gainsboro;
}
