// site styles
@import 'compass/css3';
@import 'compass/utilities/general';
@import '_vars';
@import '_jquery.nouislider';
@import '_media-icons';
@import '_media-controls';

html, body, #wrap-outer {
    height: 100%;
}

/* This parent can be any width and height */
.hv-container,
.h-container {
  text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.hv-container,
.v-container {
    height: 100%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.35em; /* Adjusts for spacing */
    }
}

/* The element to be centered, can
   also be of any width and height */
.hv-container,
.h-container,
.v-container {
    .content {
      display: inline-block;
      vertical-align: middle;
    }
}

.iconstyles {
    font-family: 'mediaicons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fillscreen {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.wrap {
    width: 100%;
    @include clearfix;
    margin: 0 auto;
}

#viewport {
    @extend .fillscreen;
    background: #000 image-url('sky.png');
    background-size: 1000px;
}

.welcome {

    h2 {
        color: $grey-light;
        margin-top: -1em;
    }

    .giant-play {
        @extend .iconstyles;
        @extend .icon-play;
        font-size: 200px;
        color: $grey-light;
        text-decoration: none;
        &:hover {
            color: $blue;
        }
    }
}

#media-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.slide-controls {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    height: 0;
    z-index: 10;
    text-align: right;

    > a {
        position: absolute;
        bottom: 10px;
        font-size: 1.5em;
        text-decoration: none;
        color: $deep-grey-light;
        @include text-shadow( 0 0 10px rgba(0,0,0,0.5));

        &:hover {
            color: $grey-light;
        }

        &.glow {
            color: $yellow-dark;
        }

        &:after,
        &:before {
            margin: 0 10px;
            width: 1em;
            height: 1em;
            font-size: 80px;
            display: inline-block;
            vertical-align: middle;

            @extend .iconstyles;
        }

        &.next {
            right: 0;
            &:after {
                @extend .icon-forward:before;
            }
        }

        &.prev {
            left: 0;
            &:before {
                @extend .icon-rewind:before;
            }
        }
    }
}

.slides {
    @extend .fillscreen;
    bottom: 76px;
    top: 100%;
    z-index: 1;

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-mono-light;
    }

    .content {
        width: 92%;
        max-width: 760px;
    }
}

.slide-1-content {
    position: relative;
}

#label-solar-time,
#label-sidereal-time {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
    font-size: 30px;
    text-align: center;
    color: $blue;
}
#label-solar-time {
    top: auto;
    bottom: 130px;
    color: $yellow;
}

#stellar-solar-sim {
    margin: auto;
    width: 600px;
    height: 600px;
}

#eccentric-orbit-sim {
    position: relative;
    z-index: 2;
    float: left;
    width: 80%;
    height: 600px;
    margin: 35px 1em 0 -1em;
}

#eccentric-orbit-plot,
#axial-tilt-plot,
#eot-plot {
    position: relative;
    float: left;
    width: 20%;
    height: 500px;
    margin: 90px 0;
    font: 2em $font-family-mono-light;
    @include text-shadow( 0 0 10px rgba(0,0,0,1));

    &:before {
        content: 'late';
        position: absolute;
        top: 0em;
        left: 50%;
        margin-left: -4em;
        z-index: 2;
        color: $grey;
        padding-top: 85px;
        background: image-url('time-past-noon-feather.png') no-repeat top center;
        background-size: 70px;
    }

    &:after {
        content: 'early';
        position: absolute;
        top: 0em;
        right: 50%;
        margin-right: -4em;
        z-index: 2;
        color: $grey;
        padding-top: 85px;
        background: image-url('time-before-noon-feather.png') no-repeat top center;
        background-size: 70px;
    }

    > div:after {
        content: '';
        position: absolute;
        top: -90px;
        left: 50%;
        margin-left: -35px;
        color: $grey;
        width: 70px;
        height: 90px;
        background: image-url('time-noon-feather.png') no-repeat top center;
        background-size: 70px;
    }
}

#eccentric-orbit-plot {
    width: 40%;
    max-width: 600px;
    margin-left: -20%;
}

#axial-tilt-plot {
    width: 100%;
    height: 300px;
    font-size: 1em;
    margin: 2em auto;

    &:after,
    &:before,
    > div:after {
        background-size: 35px;
    }

    &:after,
    &:before {
        padding-top: 42px;
    }

    > div:after {
        width: 35px;
        height: 45px;
        top: -50px;
        margin-left: -18px;
    }
}

.axial-tilt-col {
    $r: 1280/720;
    position: relative;

    &:before {
        content: '';
        display: block;
        padding-top: 100%/$r;
    }
}
#axial-tilt-map {
    position: absolute;
    top: 2em;
    left: 0;
    width: 100%;
    height: 100%;
    background: $deep-grey-dark image-url('map-4b-pm.png') repeat-x 24px 0;
    background-size: 100%;
    border: 1px solid $deep-grey-dark;
}

#axial-tilt-map-dates {
    $r: 1280/720;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: $font-family-mono-light;
    overflow: hidden;

    ul {
        position: relative;
        left: 3%;
        padding: 0;
        margin: 0;
    }

    li {
        float: left;
        text-indent: 0;
        display: inline-block;
        width: (100%/12);
        text-align: center;
        color: $deep-grey-light;
        border-right: 1px solid $deep-grey-light;
        @include text-shadow( 0 0 10px rgba(0,0,0,1));
        @include box-sizing( border-box );
        &:first-child {
            border-left: 1px solid $deep-grey-light;
        }
    }

    li.highlight {
        color: #000;
        background: $yellow;
    }

    // &:before {
    //     content: '';
    //     display: block;
    //     float: left;
    //     width: 50%;
    //     height: 1px;
    // }
}

#axial-tilt-sim,
#ecliptic-tilt-sim {
    margin-top: 2em;
    width: 300px;
    height: 300px;
}


#ecc-ctrl,
#axis-ctrl {
    float: left;
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 2;
}

#axis-ctrl {
    margin-top: -40px;
}

#eot-plot {
    width: 1280px;
    margin: 140px -100% 0;
}
