/* line 5, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
html, body, #wrap-outer {
  height: 100%;
}

/* line 9, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#viewport {
  padding: 4em 0;
  background: #1a1a1a url('../images/sky.png?1395448799');
  background-size: 200%;
}

/* line 15, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#stellar-solar-sim {
  margin: auto;
  width: 600px;
  height: 600px;
}

/* line 21, /Users/wellcaffeinated/Documents/github/minutelabs/Equation-of-Time/library/styles/site.scss */
#eccentric-orbit-sim {
  margin: auto;
  width: 600px;
  height: 600px;
}
