// site styles
@import 'compass/css3';
@import 'compass/utilities/general';
@import '_vars';

html, body, #wrap-outer {
    height: 100%;
}

// .kineticjs-content {
//     border: 1px solid $grey;
// }

.wrap {
    width: 100%;
    max-width: 800px;
    @include clearfix;
    margin: 80px auto;
}

#viewport {
    padding: 4em 0;
    background: $deep-grey-dark image-url('sky.png');
    background-size: 1000px;
}

#stellar-solar-sim {
    margin: auto;
    width: 600px;
    height: 600px;
}

#eccentric-orbit-sim {
    float: left;
    width: 80%;
    max-width: 600px;
    height: 600px;
    margin-top: 2em;
}

#eccentric-orbit-plot,
#axial-tilt-plot {
    position: relative;
    float: left;
    width: 20%;
    margin-top: 2em;
    margin-left: -20px;
    max-width: 200px;
    height: 600px;

    &:before {
        content: 'late';
        position: absolute;
        top: 1em;
        left: 0;
        color: $grey;
    }

    &:after {
        content: 'early';
        position: absolute;
        top: 1em;
        right: 0;
        color: $grey;
    }

    > div:after {
        content: 'mean';
        position: absolute;
        top: -2em;
        left: 50%;
        margin-left: -1em;
        color: $grey;
    }
}

#axial-tilt-sim,
#ecliptic-tilt-sim {
    margin-top: 2em;
    width: 300px;
    height: 300px;
}
